$body-bg: #f4f4f4;
$line-height-base: 1.57142857;
$link-color: #1d7cf4;
$link-hover-decoration: none;

$brand-success: #29b35b;
$brand-danger: #b61b17;

$font-family-base: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
$headings-font-weight: 600;

$alert-info-border: #31708f;
$alert-success-border: darken($brand-success, 12%);
$alert-success-text: #fff;
$alert-success-bg: $brand-success;
$alert-danger-border: #b61b17;
$alert-danger-text: #b61b17;
$alert-danger-bg: #ffcdd2;

$navbar-height: 56px;
$navbar-default-bg: #fff;
$navbar-default-border: #e0e0e0;
$navbar-default-color: #757575;
$navbar-default-link-color: #262626;
$navbar-default-link-hover-bg: transparent;
$navbar-default-link-active-bg: transparent;
$navbar-default-link-active-color: #262626;

$panel-heading-padding: 20px 30px;
$panel-body-padding: 30px;

$brand-primary:         #3E277E;

@import url("//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800%7CRaleway:100,300,600,700,800");
@import "vendor/bootstrap";
@import "vendor/slider";
@import "vendor/odometer";

// Scaffolding
// -------------------------

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 44px;
}

footer {
  position: absolute;
  width: 100%;
  height: 44px;
  padding: 10px 30px;
  bottom: 0;
  background-color: #fff;
  border-top: 1px solid #e0e0e0;
}

.login-container {
  max-width: 555px;
}

// Alerts
// -------------------------

.alert {
  border-width: 0 0 0 3px;
}

// Navbar
// -------------------------

.navbar-default .navbar-nav > li > a {
  border-bottom: 3px solid transparent;
  padding-bottom: ($navbar-padding-vertical - 3);
  transition: all 0.25s;
  &:hover {
    border-bottom-color: #bdbdbd;
  }
  &.navbar-avatar {
    padding-top: $navbar-padding-vertical - 4.5;
    padding-bottom: ($navbar-padding-vertical - 4.5) - 3;
    img {
      border-radius: 50%;
      width: 30px;
      height: 30px;
    }
  }
}

.navbar-default .navbar-nav > li.active > a {
  border-bottom-color: #3f51b5;
}

// Panels
// -------------------------

.panel {
  border: solid 1px rgba(160, 160, 160, 0.3);
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
}

.panel-heading + .panel-body {
  padding-top: 0;
}

.panel-body {
  h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
  }
}

.panel-title {
  font-size: 18px;
  color: #424242;
}

// Buttons
// -------------------------

.btn-toolbar > .btn {
  float: none;
  margin-bottom: 5px;
}

.btn {
  font-weight: 600;
  border-radius: 3px;
  &:focus {
    outline: 0 !important;
  }
}

.btn-default {
  border-color: #ccc;
  background: #f5f5f5 linear-gradient(to bottom, #fff, #f5f5f5);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08), inset 0 -1px 4px rgba(151, 159, 175, 0.2);
  &:active {
    background: darken(#f5f5f5, 6%) linear-gradient(to bottom, darken(#fff, 6%), darken(#f5f5f5, 6%));
  }
}

.btn-success {
  border-color: #208a46;
  background: #29b35b linear-gradient(to bottom, #2ec866, #29b35b);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2), inset 0 1px 1px rgba(255, 255, 255, 0.1), inset 0 -1px 4px rgba(32, 138, 70, 0.3);
  &:active {
    background: darken(#29b35b, 6%) linear-gradient(to bottom, darken(#2ec866, 6%), darken(#29b35b, 6%));
  }
}

.btn-danger {
  border-color: #8c1512;
  background: #b61b17 linear-gradient(to bottom, #cc1e1a, #b61b17);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2), inset 0 1px 1px rgba(255, 255, 255, 0.1), inset 0 -1px 4px rgba(140, 21, 18, 0.3);
  &:active {
    background: darken(#b61b17, 6%) linear-gradient(to bottom, darken(#cc1e1a, 6%), darken(#b61b17, 6%));
  }
}

.btn-facebook {
  color: #fff;
  border-color: #335190;
  background: #3b5998 linear-gradient(to bottom, #4263a9, #3b5998);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2), inset 0 1px 1px rgba(255, 255, 255, 0.1), inset 0 -1px 4px rgba(59, 89, 152, 0.3);
  &:hover,
  &:focus {
    color: #fff;
  }
}

.btn-twitter {
  color: #fff;
  border-color: #009fdb;
  background: #00aced linear-gradient(to bottom, #05baff, #00aced);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2), inset 0 1px 1px rgba(255, 255, 255, 0.1), inset 0 -1px 4px rgba(0, 172, 237, 0.3);
  &:hover,
  &:focus {
    color: #fff;
  }
}

.btn-google {
  color: #fff;
  border-color: #d54331;
  background: #dd4b39 linear-gradient(to bottom, #e05d4d, #dd4b39);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2), inset 0 1px 1px rgba(255, 255, 255, 0.1), inset 0 -1px 4px rgba(221, 75, 57, 0.3);
  &:hover,
  &:focus {
    color: #fff;
  }
}

.btn-vk {
  color: #fff;
  border-color: #4f7192;
  background: #587ea3 linear-gradient(to bottom, #678aad, #587ea3);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2), inset 0 1px 1px rgba(255, 255, 255, 0.1), inset 0 -1px 4px rgba(79, 113, 146, 0.3);
  &:hover,
  &:focus {
    color: #fff;
  }
}

.btn-github {
  color: #fff;
  border-color: #444;
  background: #545454 linear-gradient(to bottom, #616161, #545454);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2), inset 0 1px 1px rgba(255, 255, 255, 0.1), inset 0 -1px 4px rgba(68, 68, 68, 0.3);
  &:hover,
  &:focus {
    color: #fff;
  }
}

// Forms
// -------------------------

textarea {
  resize: none;
}

.form-control {
  height: auto;
  padding: 8px 12px;
  border: 2px solid #ebebeb;
  border-radius: 0;
  box-shadow: inset 0 1px 2px rgba(150, 160, 175, 0.1), inset 0 1px 15px rgba(150, 160, 175, 0.05);
}

.form-group > label {
  text-transform: uppercase;
  font-size: 13px;
}

.hr-title {
  height: auto;
  margin-top: 20px;
  border-top: 1px solid;
  color: #bbb;
  font-size: 16px;
  text-align: center;
  line-height: 20px;
}

.hr-title span {
  position: relative;
  padding: 2px 10px;
  top: -10px;
  background-color: #fff;
  border-radius: 2px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.navbar-default {
  padding: 30px 0;
}

.navbar-brand {
  padding: 0;
  max-width: 200px;
  margin-right: 40px;
}

.rc-slider-handle {
  border-color: #3E277E;
}

.filters h5 {
  margin-top: 20px;
}










.flex-wrapper {
  display: flex;
  flex-flow: row nowrap;
}

.single-chart {
  width: 100%;
  justify-content: space-around ;
}

.circular-chart {
  display: block;
  margin: 10px auto;
  max-width: 80%;
  max-height: 250px;
}

.circle-bg {
  fill: none;
  stroke: #eee;
  stroke-width: 3.8;
}

.circle {
  fill: none;
  stroke-width: 2.8;
  stroke-linecap: round;
  animation: progress 1s ease-out forwards;
}

@keyframes progress {
  0% {
    stroke-dasharray: 0 100;
  }
}

.circular-chart.orange .circle {
  stroke: #ff9f00;
}

.circular-chart.green .circle {
  stroke: #4CC790;
}

.circular-chart.blue .circle {
  stroke: #3c9ee5;
}

.percentage {
  fill: #666;
  font-family: sans-serif;
  font-size: 0.5em;
  text-anchor: middle;
}


.loans .panel-body {
  padding: 20px;
}

.loans img {
  border-radius: 8px;
}

.terms .text-center {
  font-size: 18px;
}

.btn-details {
  margin-top: 15px;
}

.profile-img {
  text-align: center;
}
.profile-img img {
  max-height: 180px;
  display: inline-block;
}

.terms-section {
  text-align: center;
  margin: 50px 0;
}

.terms-title, .terms-note {
  display: block;
}

.terms-data {
  font-size: 38px;
}

.section {
  margin-bottom: 40px;
}

.map {
  margin-top: 30px;
  img {
    border-radius: 8px;
  }
}

.home-card {
  text-align: center;

  .big-number {
    font-size: 36px;
    font-weight: bold;
    color: #648baf;
    margin: 20px 0;
    .odometer-digit, .odometer-formatting-mark {
      font-weight: bold;
    }
  }
}









.check_mark {
  width: 80px;
  height: 130px;
  margin: 0 auto;
}

.hide{
  display:none;
}

.sa-icon {
  width: 80px;
  height: 80px;
  border: 4px solid gray;
  -webkit-border-radius: 40px;
  border-radius: 40px;
  border-radius: 50%;
  margin: 20px auto;
  padding: 0;
  position: relative;
  box-sizing: content-box;
}

.sa-icon.sa-success {
  border-color: #4CAF50;
}

.sa-icon.sa-success::before, .sa-icon.sa-success::after {
  content: '';
  -webkit-border-radius: 40px;
  border-radius: 40px;
  border-radius: 50%;
  position: absolute;
  width: 60px;
  height: 120px;
  background: white;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.sa-icon.sa-success::before {
  -webkit-border-radius: 120px 0 0 120px;
  border-radius: 120px 0 0 120px;
  top: -7px;
  left: -33px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transform-origin: 60px 60px;
  transform-origin: 60px 60px;
}

.sa-icon.sa-success::after {
  -webkit-border-radius: 0 120px 120px 0;
  border-radius: 0 120px 120px 0;
  top: -11px;
  left: 30px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transform-origin: 0px 60px;
  transform-origin: 0px 60px;
}

.sa-icon.sa-success .sa-placeholder {
  width: 80px;
  height: 80px;
  border: 4px solid rgba(76, 175, 80, .5);
  -webkit-border-radius: 40px;
  border-radius: 40px;
  border-radius: 50%;
  box-sizing: content-box;
  position: absolute;
  left: -4px;
  top: -4px;
  z-index: 2;
}

.sa-icon.sa-success .sa-fix {
  width: 5px;
  height: 90px;
  background-color: white;
  position: absolute;
  left: 28px;
  top: 8px;
  z-index: 1;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.sa-icon.sa-success.animate::after {
  -webkit-animation: rotatePlaceholder 4.25s ease-in;
  animation: rotatePlaceholder 4.25s ease-in;
}

.sa-icon.sa-success {
  border-color: transparent\9;
}
.sa-icon.sa-success .sa-line.sa-tip {
  -ms-transform: rotate(45deg) \9;
}
.sa-icon.sa-success .sa-line.sa-long {
  -ms-transform: rotate(-45deg) \9;
}

.animateSuccessTip {
  -webkit-animation: animateSuccessTip 0.75s;
  animation: animateSuccessTip 0.75s;
}

.animateSuccessLong {
  -webkit-animation: animateSuccessLong 0.75s;
  animation: animateSuccessLong 0.75s;
}

@-webkit-keyframes animateSuccessLong {
  0% {
    width: 0;
    right: 46px;
    top: 54px;
  }
  65% {
    width: 0;
    right: 46px;
    top: 54px;
  }
  84% {
    width: 55px;
    right: 0px;
    top: 35px;
  }
  100% {
    width: 47px;
    right: 8px;
    top: 38px;
  }
}
@-webkit-keyframes animateSuccessTip {
  0% {
    width: 0;
    left: 1px;
    top: 19px;
  }
  54% {
    width: 0;
    left: 1px;
    top: 19px;
  }
  70% {
    width: 50px;
    left: -8px;
    top: 37px;
  }
  84% {
    width: 17px;
    left: 21px;
    top: 48px;
  }
  100% {
    width: 25px;
    left: 14px;
    top: 45px;
  }
}
@keyframes animateSuccessTip {
  0% {
    width: 0;
    left: 1px;
    top: 19px;
  }
  54% {
    width: 0;
    left: 1px;
    top: 19px;
  }
  70% {
    width: 50px;
    left: -8px;
    top: 37px;
  }
  84% {
    width: 17px;
    left: 21px;
    top: 48px;
  }
  100% {
    width: 25px;
    left: 14px;
    top: 45px;
  }
}

@keyframes animateSuccessLong {
  0% {
    width: 0;
    right: 46px;
    top: 54px;
  }
  65% {
    width: 0;
    right: 46px;
    top: 54px;
  }
  84% {
    width: 55px;
    right: 0px;
    top: 35px;
  }
  100% {
    width: 47px;
    right: 8px;
    top: 38px;
  }
}

.sa-icon.sa-success .sa-line {
  height: 5px;
  background-color: #4CAF50;
  display: block;
  border-radius: 2px;
  position: absolute;
  z-index: 2;
}

.sa-icon.sa-success .sa-line.sa-tip {
  width: 25px;
  left: 14px;
  top: 46px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.sa-icon.sa-success .sa-line.sa-long {
  width: 47px;
  right: 8px;
  top: 38px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

@-webkit-keyframes rotatePlaceholder {
  0% {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
  5% {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
  12% {
    transform: rotate(-405deg);
    -webkit-transform: rotate(-405deg);
  }
  100% {
    transform: rotate(-405deg);
    -webkit-transform: rotate(-405deg);
  }
}
@keyframes rotatePlaceholder {
  0% {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
  5% {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
  12% {
    transform: rotate(-405deg);
    -webkit-transform: rotate(-405deg);
  }
  100% {
    transform: rotate(-405deg);
    -webkit-transform: rotate(-405deg);
  }
}




.congrats {
    text-align: center;
    font-size: 22px;
    color: #4caf4f;
}

.btn-login {
    font-size: 22px;
    border-radius: 6px;
    padding: 10px 30px;
}

.section h3 + p {
  margin-top: 20px;
  margin-bottom: 40px;
}
